@import 'header';
@import 'body';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

input {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  }

  #overlayGen{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }


//General grid display
#container{
    display: grid;
    grid-template: 3/1;
    grid-template-areas: 
    "h"
    "b";
    #header{
        grid-area: h;
        width: 100%;
    }
    #body{
        grid-area: b;
        width: 100%; 
    }
}



//Header grid display
#container{
    #header{
        margin-top: 0.2rem;
        background: #FBF8EF;
        display: grid;
        grid-template: 2/2;
        grid-template-areas: 
        "t s"
        "si si"
        "l p";

        //Title display
        #title{
            grid-area: t;
            align-self: center;
            justify-self: center;
        }

        //Search display
        #search{
            margin-right: 1rem;
            grid-area: s;
            justify-self: end;
            display: flex;

        }

        #searchInput{
            grid-area: si;
            margin-top: 2em;
            
            width: 70%;
            height: 20%;;
            justify-self: center;
            border-radius: 25px;
            border: 1px solid #58ACFA;
            padding: 20px; 
             
        }

        //Logo display
        #logo{
            grid-area: l;
            justify-self: center;
            align-self: center;
            text-align: center;
            margin-top: 2em;
            img{
                height: 3em;
            }
        }

        //Person display
        #person{
            margin-right: 1em;
            grid-area: p;
            text-align: center;
            margin-top: 2em;
            img{
                border-radius: 50%;
                height: 3em;
                
            }
        }

    }
}


//Body grid display
#container{
    background: #FAFFFF;
    #body{
        background: #FAFFFF;

        //Content display
        #content{
            background: #151515;
            display: flex;
            margin-bottom: 1em;
            
            h4{
                color: white;
            }
            
            #first{
                margin-top: 1em;
                margin-left: 0.5em;
                //background: #B40404;
                flex: 1;
                .list{
                    list-style:none;
                }

                li{
                    //background: #FFFF00;
                    margin-top: 0.5em;
                    display: flex;
                    p{
                        //background: #FAAC58;
                        flex: 4;
                        color: #6683DA;
                    }
                    i{
                        flex: 1;
                        align-self: center;
                        color: #6683DA;
                    }
                }
            }
            #second{
                margin-top: 1em;
                margin-left: 0.5em;
                //background: #00FFFF;
                flex: 1;
                .list{
                    list-style:none;
                }
                li{
                    margin-top: 0.5em;
                    //background: #FFFF00;
                    display: flex;
                    p{
                        //background: #B40404;
                        flex: 4;
                        color: #6683DA;
                    }
                    i{
                        flex: 1;
                        align-self: center;
                        color: #6683DA;
                    }
                }
            }
        }

        #ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                border: 0.5em;
                border-color: #FAFFFF;
                border-style: solid;
                margin-bottom: 1em;
                background: #fff;
                color: #333;
                flex: 0 50%;

                #cont{
                    .overlay{
                        display: none;
                        transition: .5s ease;
                        text-align: center;
                        z-index: -1;            
                    }
    
                    img{
                        display: block;
                        width: 100%;
                        height: 13em;
                        transition: 1s;
                    }
                    
                    .card-content{
                        border: 0.1em;
                        border-style: solid;
                        padding: 0.5em;
                        font-size: 0.5em;
                        transition: 1s;
    
                        .checked {
                            color: orange;
                        }
                    }
                }
            }

            li:hover{
                #cont{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: 
                    "a";

                    .card{
                        grid-area: a;
                        opacity: 0.3;
                    }
                    .overlay{
                        grid-area: a;
                        opacity: 1;
                        z-index: 2;
                        display: grid;
                        grid-template: 3/3;
                        grid-template-areas: 
                        "h . bk"
                        "b b b"
                        "s s s";
                        margin-top: 1rem;

                        #heart{
                            grid-area: h;
                        }

                        #bookmark{
                            grid-area: bk;
                        }

                        #book{
                            grid-area: b;
                        }

                        #fs{
                            grid-area: s;
                        }
                    }
                }
            }
        }

        #books{
            background: #151515;
            margin-top: 1em;
            h4{
                color: white;
            }
            li{
                //background: #FFFF00;
                margin-top: 0.5em;
                display: flex;
                p{
                    //background: #FAAC58;
                    flex: 4;
                    color: #8A8989;
                }
                i{
                    flex: 1;
                    align-self: center;
                    color: #6683DA;
                }
            }
        }
    }
}


@media(min-width:700px){
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;
        #body{
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            grid-auto-rows: 1fr;
            #content{
                display: block;
            }
        }
    }
}
