//Fonts imported from the given resources
@font-face {
    font-family: 'PlutoSansRegular';
    font-style: normal;
    font-weight: normal;
    src: local('PlutoSansRegular'), url('../../res/fonts_pluto_sans/OpenTypeOTF/HVD\ Fonts\ -\ PlutoSansRegular.otf') format('truetype');
}

@font-face {
    font-family: 'PlutoSansCondLight';
    font-style: normal;
    font-weight: normal;
    src: local('PlutoSansCondLight'), url('../../res/fonts_pluto_sans/OpenTypeOTF/HVD\ Fonts\ -\ PlutoSansCondLight.otf') format('truetype');
}

@font-face {
    font-family: 'PlutoSansCondBold';
    font-style: normal;
    font-weight: normal;
    src: local('PlutoSansCondBold'), url('../../res/fonts_pluto_sans/OpenTypeOTF/HVD\ Fonts\ -\ PlutoSansCondBold.otf') format('truetype');
}

@font-face {
    font-family: 'PlutoSansCondThin';
    font-style: normal;
    font-weight: normal;
    src: local('PlutoSansCondThin'), url('../../res/fonts_pluto_sans/OpenTypeOTF/HVD\ Fonts\ -\ PlutoSansCondThin.otf') format('truetype');
}

//Display of the input for the search bar
input{
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-size: 2em;
    opacity: 0.5;
}