//Display content for small devices
@media(max-width:1100px){

    

    body{

        #modal{
            position: fixed; /* Stay in place */
            z-index: 3; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

            h5{
                font-size: 1.5em;
            }

            .modal-content{
                background: #3F3F3F;
                opacity: 0.9;
            }
            
            #modalbody{
                p{
                    font-size: 1.3em;
                }
            }
        }

        //Head wrapper display
        #headerwrapper{
            grid-area: h;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "n n"
            "l p";
            background: #FFFAFA;
    
            //Logo display
            #logo{
                grid-area: l;
                display: flex;
                align-items: center;
                background: #FFFAFA;
                margin-left: 1em;
    
                img{
                    height: 2rem;
                }
            }
    
            //Navbar display
            #navbar{
                margin-top: 1em;
                margin-left: 1em;
                margin-bottom: 1em;
                grid-area: n;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 1.5em;
                background: linear-gradient(to bottom, transparent 20%, #C8C7C7 20%, #C8C7C7 70%, transparent 70%) 100% 0 / 1px 100% no-repeat;
    
                input{
                    justify-self: end;
                    border-radius: 25px;
                    border: 1px solid #58ACFA;
                    padding: 0.5em;
                    margin-left: 1em;
                }
    
                h2{
                    font-family: PlutoSansRegular;
                    font-size: 1.1em;
                }
            }
    
            //Person display
            #person{
                margin-right: 1em;
                grid-area: p;
                display: flex;
                align-items: center;
                justify-items: center;
                padding-left: 3em;
                
                img{
                    border-width: 2px;
                    border-radius: 50%;
                    border-style: solid;
                    height: 2em;
                    justify-self: end;
                    border-color: #58ACFA;
                    margin-left: 1em;
                }
    
                h5{
                    float: right;
                    justify-self: end;
                    font-family: PlutoSansCondLight
                }
            }
        }
    
        //Body wrapper display
        #bodywrapper{
            grid-area: b;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "l c c c c r";

            //Left panel display
            #left{
                grid-area: l;
                h4{
                    font-size: 1.3em;
                }
        
                li{
                    p{
                        font-size: 1.1em;
                    }
                }
            }

            //Center panel display
            #center{
                grid-area: c;
                display: block;
                border-top: 1px solid #58ACFA;
                background: #F4F9FA;

                #menu{
                    display: none;
                }

                #ul{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

                    #cont{
                        img{
                            height: 20em;
                        }

                        h3{
                            font-size: 2em;
                        }

                        p{
                            font-size: 2em;
                        }
                    }
                }
            }

            //Right panel display
            #right{
                grid-area: r;
                h4{
                    font-size: 1.3em;
                }
        
                ol{
                    li{
                        p{
                            font-family: PlutoSansCondLight;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}


