@import 'fonts';
@import 'mobile';

//General settings
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    #modal{
        display: none; 
        position: absolute; 
        z-index: 3; 
        left: 0;
        top: 0;
        width: 25%; 
        height: 50%; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        border-radius: 2%;
        opacity: 1;
        

        /* Modal Content/Box */
        .modal-content {
            margin: 4% auto; /* 15% from the top and centered */
            width: 95%; /* Could be more or less, depending on screen size */
        
            opacity: 1;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 50% 10% 20%;
            grid-gap: 0.2em;
            grid-template-areas: 
            "h"
            "b"
            "r"
            "f";
            
            h5{
                font-family: PlutoSansCondBold;
            }

            p{
                color: #ffffff;
                font-family: PlutoSansCondLight;
                font-size: 0.8em;
            }

            .fas{
                color: orange;
            }

            #modalheader{
                grid-area: h;
                display: flex;
                #mainheader{
                    flex:2;
                }
                #secondheader{
                    flex:1;
                    justify-self: flex-end;
                    #year{
                        font-family: PlutoSansCondThin;
                        
                    }
                }
                h5{
                    color: #58ACFA;
                    font-family: PlutoSansCondBold;
                }
            }

            h5{
                color: #DFDFDF;
            }

            #modalbody{
                grid-area: b;
                
            }

            #modalrating{
                grid-area: r;
            }

            #modalfooter{
                grid-area: f;
                margin-top: 0.5em;
                img{
                    border-width: 2px;
                    border-radius: 50%;
                    border-style: solid;
                    height: 2em;
                    justify-self: end;
                    border-color: #58ACFA;
                    margin-left: 1em;
                }
            }


        }
    }    
}

//General wrapper display
#wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
    "h"
    "b";
}

//Head wrapper display
#headerwrapper{
    grid-area: h;
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "l n n n n p";
    background: #FFFAFA;

    //Logo display
    #logo{
        grid-area: l;
        display: flex;
        align-items: center;
        background: #fff;
        margin-left: 1em;

        img{
            height: 2rem;
        }
    }

    //Navbar display
    #navbar{
        margin-left: 1em;
        grid-area: n;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1.5em;
        background: linear-gradient(to bottom, transparent 20%, #C8C7C7 20%, #C8C7C7 70%, transparent 70%) 100% 0 / 1px 100% no-repeat;

        input{
            justify-self: end;
            border-radius: 25px;
            border: 1px solid #58ACFA;
            padding: 0.5em;
        }

        h2{
            font-family: PlutoSansRegular;
            font-size: 1.1em;
        }
    }

    //Person display
    #person{
        grid-area: p;
        display: flex;
        align-items: center;
        justify-items: center;
        padding-left: 3em;
        
        img{
            border-width: 2px;
            border-radius: 50%;
            border-style: solid;
            height: 2em;
            justify-self: end;
            border-color: #58ACFA;
            margin-left: 1em;
        }

        h5{
            float: right;
            justify-self: end;
            font-family: PlutoSansCondLight
        }
    }
}


//Body wrapper display
#bodywrapper{
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "l c c c c r";

    //Left panel display
    #left{
        grid-area: l;
        background: #151515;
        h4{
            color: white;
            font-family: PlutoSansCondBold;
            font-size: 0.8em;
        }

        li{
            //background: #FFFF00;
            margin-top: 1em;
            display: flex;
            padding-top: 0.5em;
            p{
                //background: #FAAC58;
                flex: 4;
                color: #62B0CE;
                font-family: PlutoSansCondLight;
                font-size: 0.8em;
            }
            i{
                flex: 1;
                align-self: center;
                color: #62B0CE;
            }
        }

        li:hover{
            p{
                color: #fff;
            }
            i{
                color: #fff;
            }
        }

        .list{
            list-style:none;
        }  

        #first{
            margin-top: 2em;
            margin-left: 1em;
        }

        #second{
            margin-top: 4em;
            margin-left: 1em;
        }
    }

    //Center panel display
    #center{
        grid-area: c;
        display: block;
        padding: 2em 4em 0 4em;
        height: 40rem;
        border-top: 1px solid #58ACFA;
        background: #F4F9FA;

        #menu{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
            h3{
                font-family: PlutoSansCondThin;
                font-size: 1em;
            }

            p{
                font-family: PlutoSansCondLight;
                font-size: 0.7em;
            }
        }

        //How the books are displayed
        #ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr; 
            justify-content: space-between;

            li{
                border: 0.5em;
                border-color: #F4F9FA;
                border-style: solid;
                margin-bottom: 1em;
                background: #fff;
                color: #333;

                h3{
                    font-family: PlutoSansCondBold;
                    font-size: 1.3em;
                }

                p{
                    font-family: PlutoSansThin;
                    font-size: 1.3em;
                }
            }

            li:hover{
                #cont{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    background: #444444;
                    
                    grid-template-areas: 
                    "a";

                    img{
                        transform: scale(1.05, 1.05);
                        opacity: 0.3;
                    }

                    .card{
                        grid-area: a;
                    }
                    .overlay{
                        grid-area: a;
                        opacity: 1;
                        z-index: 2;
                        display: grid;
                        grid-template: 3/3;
                        grid-template-areas: 
                        "h . bk"
                        ". b ."
                        "s s s";
                        margin-top: 1rem;

                        #heart{
                            grid-area: h;
                            color: #fff;
                            border-radius: 50%;
                        }

                        #bookmark{
                            grid-area: bk;
                            color: #fff;
                        }

                        #book{
                            grid-area: b;
                            color: #58ACFA;
                            transform: scale(1.5,1.5);                        
                        }

                        #fs{
                            grid-area: s;
                            h5{
                                color: #ffffff;
                            }
                            i{
                                color: orange;
                            }
                        }
                    }
                }
            }

            //Displaying the content of each li element
            #cont{

                .overlay{
                    display: none;
                    transition: .5s ease;
                    text-align: center;
                    z-index: -1;
                    h5{
                        font-family: PlutoSansCondBold;
                    }            
                }

                img{
                    display: block;
                    width: 100%;
                    height: 13em;
                    transition: 1s;
                }

                .card-content{
                    background: #F4F9FA;
                    padding: 0.5em;
                    font-size: 0.5em;
                    transition: 1s;

                    .checked {
                        color: orange;
                    }
                }
            }
        }
    }

    //Right panel display
    #right{
        grid-area: r;
        background: #151515;
        color: #8A8989;
        
        h4{
            margin-top: 2em;
            padding-left: 2em;
            font-family: PlutoSansCondBold;
            font-size: 0.8em;
        }

        ol{
            padding-left: 2em;
            list-style: none;
            li{
                margin-top: 1.5em;
                p{
                    font-family: PlutoSansCondLight;
                    font-size: 0.7em;
                }
            }
        }
    }
}
