@font-face {
  font-family: 'PlutoSansRegular';
  font-style: normal;
  font-weight: normal;
  src: local("PlutoSansRegular"), url("../../res/fonts_pluto_sans/OpenTypeOTF/HVD Fonts - PlutoSansRegular.otf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondLight';
  font-style: normal;
  font-weight: normal;
  src: local("PlutoSansCondLight"), url("../../res/fonts_pluto_sans/OpenTypeOTF/HVD Fonts - PlutoSansCondLight.otf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondBold';
  font-style: normal;
  font-weight: normal;
  src: local("PlutoSansCondBold"), url("../../res/fonts_pluto_sans/OpenTypeOTF/HVD Fonts - PlutoSansCondBold.otf") format("truetype");
}

@font-face {
  font-family: 'PlutoSansCondThin';
  font-style: normal;
  font-weight: normal;
  src: local("PlutoSansCondThin"), url("../../res/fonts_pluto_sans/OpenTypeOTF/HVD Fonts - PlutoSansCondThin.otf") format("truetype");
}

input {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  text-indent: 20px;
  background-size: 2em;
  opacity: 0.5;
}

@media (max-width: 1100px) {
  body #modal {
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  body #modal h5 {
    font-size: 1.5em;
  }
  body #modal .modal-content {
    background: #3F3F3F;
    opacity: 0.9;
  }
  body #modal #modalbody p {
    font-size: 1.3em;
  }
  body #headerwrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "n n" "l p";
    background: #FFFAFA;
  }
  body #headerwrapper #logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: l;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFAFA;
    margin-left: 1em;
  }
  body #headerwrapper #logo img {
    height: 2rem;
  }
  body #headerwrapper #navbar {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: n;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1.5em;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(20%, #C8C7C7), color-stop(70%, #C8C7C7), color-stop(70%, transparent)) 100% 0/1px 100% no-repeat;
    background: linear-gradient(to bottom, transparent 20%, #C8C7C7 20%, #C8C7C7 70%, transparent 70%) 100% 0/1px 100% no-repeat;
  }
  body #headerwrapper #navbar input {
    -ms-grid-column-align: end;
        justify-self: end;
    border-radius: 25px;
    border: 1px solid #58ACFA;
    padding: 0.5em;
    margin-left: 1em;
  }
  body #headerwrapper #navbar h2 {
    font-family: PlutoSansRegular;
    font-size: 1.1em;
  }
  body #headerwrapper #person {
    margin-right: 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: p;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding-left: 3em;
  }
  body #headerwrapper #person img {
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    height: 2em;
    -ms-grid-column-align: end;
        justify-self: end;
    border-color: #58ACFA;
    margin-left: 1em;
  }
  body #headerwrapper #person h5 {
    float: right;
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: PlutoSansCondLight;
  }
  body #bodywrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: b;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "l c c c c r";
  }
  body #bodywrapper #left {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: l;
  }
  body #bodywrapper #left h4 {
    font-size: 1.3em;
  }
  body #bodywrapper #left li p {
    font-size: 1.1em;
  }
  body #bodywrapper #center {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: c;
    display: block;
    border-top: 1px solid #58ACFA;
    background: #F4F9FA;
  }
  body #bodywrapper #center #menu {
    display: none;
  }
  body #bodywrapper #center #ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  body #bodywrapper #center #ul #cont img {
    height: 20em;
  }
  body #bodywrapper #center #ul #cont h3 {
    font-size: 2em;
  }
  body #bodywrapper #center #ul #cont p {
    font-size: 2em;
  }
  body #bodywrapper #right {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: r;
  }
  body #bodywrapper #right h4 {
    font-size: 1.3em;
  }
  body #bodywrapper #right ol li p {
    font-family: PlutoSansCondLight;
    font-size: 1em;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* #modal {
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 25%;
  height: 50%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2%;
  opacity: 1;
  /* Modal Content/Box */
}

* #modal .modal-content {
  margin: 4% auto;
  /* 15% from the top and centered */
  width: 95%;
  /* Could be more or less, depending on screen size */
  opacity: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20% 50% 10% 20%;
      grid-template-rows: 20% 50% 10% 20%;
  grid-gap: 0.2em;
      grid-template-areas: "h" "b" "r" "f";
}

* #modal .modal-content h5 {
  font-family: PlutoSansCondBold;
}

* #modal .modal-content p {
  color: #ffffff;
  font-family: PlutoSansCondLight;
  font-size: 0.8em;
}

* #modal .modal-content .fas {
  color: orange;
}

* #modal .modal-content #modalheader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #modal .modal-content #modalheader #mainheader {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

* #modal .modal-content #modalheader #secondheader {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-end;
}

* #modal .modal-content #modalheader #secondheader #year {
  font-family: PlutoSansCondThin;
}

* #modal .modal-content #modalheader h5 {
  color: #58ACFA;
  font-family: PlutoSansCondBold;
}

* #modal .modal-content h5 {
  color: #DFDFDF;
}

* #modal .modal-content #modalbody {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

* #modal .modal-content #modalrating {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: r;
}

* #modal .modal-content #modalfooter {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: f;
  margin-top: 0.5em;
}

* #modal .modal-content #modalfooter img {
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  height: 2em;
  -ms-grid-column-align: end;
      justify-self: end;
  border-color: #58ACFA;
  margin-left: 1em;
}

#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 12fr;
      grid-template-rows: 1fr 12fr;
      grid-template-areas: "h" "b";
}

#headerwrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
      grid-template-rows: 1fr;
      grid-template-areas: "l n n n n p";
  background: #FFFAFA;
}

#headerwrapper #logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-left: 1em;
}

#headerwrapper #logo img {
  height: 2rem;
}

#headerwrapper #navbar {
  margin-left: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: n;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(20%, #C8C7C7), color-stop(70%, #C8C7C7), color-stop(70%, transparent)) 100% 0/1px 100% no-repeat;
  background: linear-gradient(to bottom, transparent 20%, #C8C7C7 20%, #C8C7C7 70%, transparent 70%) 100% 0/1px 100% no-repeat;
}

#headerwrapper #navbar input {
  -ms-grid-column-align: end;
      justify-self: end;
  border-radius: 25px;
  border: 1px solid #58ACFA;
  padding: 0.5em;
}

#headerwrapper #navbar h2 {
  font-family: PlutoSansRegular;
  font-size: 1.1em;
}

#headerwrapper #person {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: p;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-left: 3em;
}

#headerwrapper #person img {
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  height: 2em;
  -ms-grid-column-align: end;
      justify-self: end;
  border-color: #58ACFA;
  margin-left: 1em;
}

#headerwrapper #person h5 {
  float: right;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: PlutoSansCondLight;
}

#bodywrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "l c c c c r";
}

#bodywrapper #left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
  background: #151515;
}

#bodywrapper #left h4 {
  color: white;
  font-family: PlutoSansCondBold;
  font-size: 0.8em;
}

#bodywrapper #left li {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
}

#bodywrapper #left li p {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  color: #62B0CE;
  font-family: PlutoSansCondLight;
  font-size: 0.8em;
}

#bodywrapper #left li i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #62B0CE;
}

#bodywrapper #left li:hover p {
  color: #fff;
}

#bodywrapper #left li:hover i {
  color: #fff;
}

#bodywrapper #left .list {
  list-style: none;
}

#bodywrapper #left #first {
  margin-top: 2em;
  margin-left: 1em;
}

#bodywrapper #left #second {
  margin-top: 4em;
  margin-left: 1em;
}

#bodywrapper #center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: c;
  display: block;
  padding: 2em 4em 0 4em;
  height: 40rem;
  border-top: 1px solid #58ACFA;
  background: #F4F9FA;
}

#bodywrapper #center #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

#bodywrapper #center #menu h3 {
  font-family: PlutoSansCondThin;
  font-size: 1em;
}

#bodywrapper #center #menu p {
  font-family: PlutoSansCondLight;
  font-size: 0.7em;
}

#bodywrapper #center #ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bodywrapper #center #ul li {
  border: 0.5em;
  border-color: #F4F9FA;
  border-style: solid;
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

#bodywrapper #center #ul li h3 {
  font-family: PlutoSansCondBold;
  font-size: 1.3em;
}

#bodywrapper #center #ul li p {
  font-family: PlutoSansThin;
  font-size: 1.3em;
}

#bodywrapper #center #ul li:hover #cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background: #444444;
      grid-template-areas: "a";
}

#bodywrapper #center #ul li:hover #cont img {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  opacity: 0.3;
}

#bodywrapper #center #ul li:hover #cont .card {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

#bodywrapper #center #ul li:hover #cont .overlay {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  opacity: 1;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3;
  -ms-grid-columns: 3;
      grid-template: 3/3;
      grid-template-areas: "h . bk" ". b ." "s s s";
  margin-top: 1rem;
}

#bodywrapper #center #ul li:hover #cont .overlay #heart {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h;
  color: #fff;
  border-radius: 50%;
}

#bodywrapper #center #ul li:hover #cont .overlay #bookmark {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: bk;
  color: #fff;
}

#bodywrapper #center #ul li:hover #cont .overlay #book {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b;
  color: #58ACFA;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

#bodywrapper #center #ul li:hover #cont .overlay #fs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: s;
}

#bodywrapper #center #ul li:hover #cont .overlay #fs h5 {
  color: #ffffff;
}

#bodywrapper #center #ul li:hover #cont .overlay #fs i {
  color: orange;
}

#bodywrapper #center #ul #cont .overlay {
  display: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  text-align: center;
  z-index: -1;
}

#bodywrapper #center #ul #cont .overlay h5 {
  font-family: PlutoSansCondBold;
}

#bodywrapper #center #ul #cont img {
  display: block;
  width: 100%;
  height: 13em;
  -webkit-transition: 1s;
  transition: 1s;
}

#bodywrapper #center #ul #cont .card-content {
  background: #F4F9FA;
  padding: 0.5em;
  font-size: 0.5em;
  -webkit-transition: 1s;
  transition: 1s;
}

#bodywrapper #center #ul #cont .card-content .checked {
  color: orange;
}

#bodywrapper #right {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: r;
  background: #151515;
  color: #8A8989;
}

#bodywrapper #right h4 {
  margin-top: 2em;
  padding-left: 2em;
  font-family: PlutoSansCondBold;
  font-size: 0.8em;
}

#bodywrapper #right ol {
  padding-left: 2em;
  list-style: none;
}

#bodywrapper #right ol li {
  margin-top: 1.5em;
}

#bodywrapper #right ol li p {
  font-family: PlutoSansCondLight;
  font-size: 0.7em;
}
/*# sourceMappingURL=main.css.map */