@import 'menu';

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'PlutoSansBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Tangerine'), url('../../res/fonts_pluto_sans/OpenTypeOTF/HVD\ Fonts\ -\ PlutoSansBlack.otf') format('truetype');
}

.text{
    font-family: "PlutoSansBlack";
}
 

#section-a{
    padding: 2em 1em 1em;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
            border: 0.5em;
            border-color: #fff;
            border-style: solid;
            margin-bottom: 1em;
            background: #fff;
            color: #333;
            flex: 0 50%;

            img{
                display: block;
                width: 100%;
                height: auto;
            }

            .card-content{
                border: 0.1em;
                border-style: solid;
                padding: 0.5em;
                font-size: 0.5em;

                .checked {
                    color: orange;
                }
            }
        }
    }

}

//Header
#header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #3333ff;
    
    

}


//Menu overlay
#section-b{
    position: fixed;
    top:0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
}